# <font color = yellow> Jordan Cheat Sheet For Data Science </font>

This is my cheat sheet for python and a dumping ground for any useful code I encounter. Feel free to use these codes and if you have any suggestions or questions please let me know!

## <font color = yellow> Index Page </font>

* [The Basics](#basic)
* [Imports](#import)
* [EDA](#EDA)
* [EDA - Quick Glace](#eda_quickglace)
* [Null Values](#null)
* [Modifying the Dataframe](#moddf)
* [Calculus](#calculus)

<a name="basic"></a>
## <font color = yellow> The Basics </font>

### Print

In [1]:
print("Hello World")

Hello World

In [2]:
x = 'Hello'
y = 'World'
print(x + ' ' + y)

Hello World

<a name="import"></a>
## <font color = yellow> Importing Libraries </font>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#sklearn imports
import sklearn.linear_model as linear_model
from sklearn import metrics
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.linear_model import ElasticNet, ElasticNetCV
from sklearn.metrics import r2_score, mean_squared_error

In [4]:
# import json

# sample_info = {}
# sample_info['df_train'] = ('Clean training data set', "--")
# sample_info['df_test'] = ('Clean test data set', "Prepared on 25th Dec")

# with open('./sample_info.json', 'w') as fp:
#     json.dump(sample_info, fp)
    
# with open('./sample_info.json', 'r') as f:
#     sample_info = json.load(f)
    
# for k,v in sample_info.items():
#     print("|" + k + "|" + v + "|")
    
# value =  ("Definition", "Notes")
# value[1]

## <font color = yellow> Importing CSV Files </font>

There are 2 ways of importing CSV files, 1 is by online and the other is reading off your computer. If its reading off your computer, remember to include the dataset when passing the notebook to someone elese.

In [5]:
df_train = pd.read_csv('data/train.csv')

In [6]:
#insert code to import CSV file by online

<a name="eda"></a>
## <font color = yellow> EDA </font>

Exploratory data analysis (EDA) should be the first thing to do with the data. It will tell us how much cleaning is required,

<a name="eda_quickglace"></a>
#### <font color = yellow> Quick Glance </font>

Do these to take a quick look at the data frame

In [7]:
df_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [8]:
df_train.describe()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2051.000000,2.051000e+03,2051.000000,1721.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2029.000000,...,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000
mean,1474.033642,7.135900e+08,57.008776,69.055200,10065.208191,6.112140,5.562165,1971.708922,1984.190151,99.695909,...,93.833740,47.556802,22.571916,2.591419,16.511458,2.397855,51.574354,6.219893,2007.775719,181469.701609
std,843.980841,1.886918e+08,42.824223,23.260653,6742.488909,1.426271,1.104497,30.177889,21.036250,174.963129,...,128.549416,66.747241,59.845110,25.229615,57.374204,37.782570,573.393985,2.744736,1.312014,79258.659352
min,1.000000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,753.500000,5.284581e+08,20.000000,58.000000,7500.000000,5.000000,5.000000,1953.500000,1964.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129825.000000
50%,1486.000000,5.354532e+08,50.000000,68.000000,9430.000000,6.000000,5.000000,1974.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162500.000000
75%,2198.000000,9.071801e+08,70.000000,80.000000,11513.500000,7.000000,6.000000,2001.000000,2004.000000,161.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2930.000000,9.241520e+08,190.000000,313.000000,159000.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,547.000000,432.000000,508.000000,490.000000,800.000000,17000.000000,12.000000,2010.000000,611657.000000

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [10]:
df_train.shape

(2051, 81)

#### <font color=yellow> Column Checker </font>

Custom code to give the relavent details of each column

In [11]:
# this function will give all the relavent information for each column
def column_checker(column_name):
    print('Column: ' + str(column_name))
    print('Describe: ' + str(df_train[column_name].describe()))
    print('Unique Values: ' + str(df_train[column_name].unique()))
    print(' ')

#
for col in df_train.columns:
    column_checker(col)

Column: Id
Describe: count    2051.000000
mean     1474.033642
std       843.980841
min         1.000000
25%       753.500000
50%      1486.000000
75%      2198.000000
max      2930.000000
Name: Id, dtype: float64
Unique Values: [109 544 153 ... 916 639  10]

Column: PID
Describe: count    2.051000e+03
mean     7.135900e+08
std      1.886918e+08
min      5.263011e+08
25%      5.284581e+08
50%      5.354532e+08
75%      9.071801e+08
max      9.241520e+08
Name: PID, dtype: float64
Unique Values: [533352170 531379050 535304180 ... 909253010 535179160 527162130]

Column: MS SubClass
Describe: count    2051.000000
mean       57.008776
std        42.824223
min        20.000000
25%        20.000000
50%        50.000000
75%        70.000000
max       190.000000
Name: MS SubClass, dtype: float64
Unique Values: [ 60  20  50 180 160  70 120 190  85  30  90  80  75  45  40 150]

Column: MS Zoning
Describe: count     2051
unique       7
top         RL
freq      1598
Name: MS Zoning, dtype: object
Unique Values: ['RL' 'RM' 'FV' 'C (all)' 'A (agr)' 'RH' 'I (all)']

Column: Lot Frontage
Describe: count    1721.000000
mean       69.055200
std        23.260653
min        21.000000
25%        58.000000
50%        68.000000
75%        80.000000
max       313.000000
Name: Lot Frontage, dtype: float64
Unique Values: [ nan  43.  68.  73.  82. 137.  35.  70.  21.  64. 120.  24.  74.  93.
  34.  80.  71.  72. 109.  40. 103. 100.  92.  65.  75.  60.  30.  79.
  41. 105. 107.  81.  36.  63.  32.  94.  44.  50.  48.  67.  88.  83.
  53.  58.  57.  52.  87. 134.  56.  54. 140.  78.  85.  90.  96.  62.
  49.  59. 155.  91.  61.  86. 128.  77.  42.  89.  51.  69.  55. 112.
  76. 125.  98. 113. 102.  22. 122.  84. 119. 118.  66.  95. 108. 195.
 106.  39. 110. 130.  97.  45.  37. 123.  38. 129. 115.  47. 114. 104.
  46. 121. 124. 313. 141. 101.  99. 160. 174.  26. 144. 138. 111.  25.
  33. 200. 150. 117. 153. 116. 135.]

Column: Lot Area
Describe: count      2051.000000
mean      10065.208191
std        6742.488909
min        1300.000000
25%        7500.000000
50%        9430.000000
75%       11513.500000
max      159000.000000
Name: Lot Area, dtype: float64
Unique Values: [13517 11492  7922 ... 12444 11449  7558]

Column: Street
Describe: count     2051
unique       2
top       Pave
freq      2044
Name: Street, dtype: object
Unique Values: ['Pave' 'Grvl']

Column: Alley
Describe: count      140
unique       2
top       Grvl
freq        85
Name: Alley, dtype: object
Unique Values: [nan 'Pave' 'Grvl']

Column: Lot Shape
Describe: count     2051
unique       4
top        Reg
freq      1295
Name: Lot Shape, dtype: object
Unique Values: ['IR1' 'Reg' 'IR2' 'IR3']

Column: Land Contour
Describe: count     2051
unique       4
top        Lvl
freq      1843
Name: Land Contour, dtype: object
Unique Values: ['Lvl' 'HLS' 'Bnk' 'Low']

Column: Utilities
Describe: count       2051
unique         3
top       AllPub
freq        2049
Name: Utilities, dtype: object
Unique Values: ['AllPub' 'NoSeWa' 'NoSewr']

Column: Lot Config
Describe: count       2051
unique         5
top       Inside
freq        1503
Name: Lot Config, dtype: object
Unique Values: ['CulDSac' 'Inside' 'Corner' 'FR2' 'FR3']

Column: Land Slope
Describe: count     2051
unique       3
top        Gtl
freq      1953
Name: Land Slope, dtype: object
Unique Values: ['Gtl' 'Sev' 'Mod']

Column: Neighborhood
Describe: count      2051
unique       28
top       NAmes
freq        310
Name: Neighborhood, dtype: object
Unique Values: ['Sawyer' 'SawyerW' 'NAmes' 'Timber' 'Edwards' 'OldTown' 'BrDale'
 'CollgCr' 'Somerst' 'Mitchel' 'StoneBr' 'NridgHt' 'Gilbert' 'Crawfor'
 'IDOTRR' 'NWAmes' 'Veenker' 'MeadowV' 'SWISU' 'NoRidge' 'ClearCr'
 'Blmngtn' 'BrkSide' 'NPkVill' 'Blueste' 'GrnHill' 'Greens' 'Landmrk']

Column: Condition 1
Describe: count     2051
unique       9
top       Norm
freq      1767
Name: Condition 1, dtype: object
Unique Values: ['RRAe' 'Norm' 'PosA' 'Artery' 'Feedr' 'PosN' 'RRAn' 'RRNe' 'RRNn']

Column: Condition 2
Describe: count     2051
unique       8
top       Norm
freq      2025
Name: Condition 2, dtype: object
Unique Values: ['Norm' 'RRNn' 'Feedr' 'Artery' 'PosA' 'PosN' 'RRAe' 'RRAn']

Column: Bldg Type
Describe: count     2051
unique       5
top       1Fam
freq      1700
Name: Bldg Type, dtype: object
Unique Values: ['1Fam' 'TwnhsE' 'Twnhs' '2fmCon' 'Duplex']

Column: House Style
Describe: count       2051
unique         8
top       1Story
freq        1059
Name: House Style, dtype: object
Unique Values: ['2Story' '1Story' '1.5Fin' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin' '1.5Unf']

Column: Overall Qual
Describe: count    2051.000000
mean        6.112140
std         1.426271
min         1.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        10.000000
Name: Overall Qual, dtype: float64
Unique Values: [ 6  7  5  8 10  4  9  3  2  1]

Column: Overall Cond
Describe: count    2051.000000
mean        5.562165
std         1.104497
min         1.000000
25%         5.000000
50%         5.000000
75%         6.000000
max         9.000000
Name: Overall Cond, dtype: float64
Unique Values: [8 5 7 6 3 9 2 4 1]

Column: Year Built
Describe: count    2051.000000
mean     1971.708922
std        30.177889
min      1872.000000
25%      1953.500000
50%      1974.000000
75%      2001.000000
max      2010.000000
Name: Year Built, dtype: float64
Unique Values: [1976 1996 1953 2006 1900 1966 2005 1959 1952 1969 1971 1880 1999 2007
 2004 1916 1963 1977 2009 1968 2000 1992 1955 1961 1965 1937 1895 1949
 1981 1929 1995 1958 1973 1994 1978 1954 1935 1941 1931 2003 1928 1970
 1951 1920 1930 1924 1927 1960 1925 1910 2008 1915 1997 1956 1979 1964
 2001 1972 1957 1939 1962 1947 1940 1932 1967 1993 1875 1912 2010 1987
 1918 1988 1922 1926 1984 1942 1890 2002 1975 1998 1936 1938 1985 1923
 1948 1950 1980 1991 1917 1986 1946 1885 1914 1896 1983 1921 1945 1901
 1990 1974 1913 1905 1982 1919 1872 1892 1934 1879 1893 1898 1911 1908
 1989]

Column: Year Remod/Add
Describe: count    2051.000000
mean     1984.190151
std        21.036250
min      1950.000000
25%      1964.500000
50%      1993.000000
75%      2004.000000
max      2010.000000
Name: Year Remod/Add, dtype: float64
Unique Values: [2005 1997 2007 1993 2002 2006 1959 1952 1969 1971 2000 1950 1963 1977
 2009 1968 1955 1961 1995 1981 1996 2008 1958 1973 1994 1965 1978 1954
 1960 2004 1970 1951 1975 1953 2001 2010 2003 1979 1964 1956 1972 1957
 1992 1962 1998 1990 1967 1985 1987 1988 1976 1984 1999 1966 1980 1989
 1991 1986 1982 1983 1974]

Column: Roof Style
Describe: count      2051
unique        6
top       Gable
freq       1619
Name: Roof Style, dtype: object
Unique Values: ['Gable' 'Hip' 'Flat' 'Mansard' 'Shed' 'Gambrel']

Column: Roof Matl
Describe: count        2051
unique          6
top       CompShg
freq         2025
Name: Roof Matl, dtype: object
Unique Values: ['CompShg' 'WdShngl' 'Tar&Grv' 'WdShake' 'Membran' 'ClyTile']

Column: Exterior 1st
Describe: count        2051
unique         15
top       VinylSd
freq          724
Name: Exterior 1st, dtype: object
Unique Values: ['HdBoard' 'VinylSd' 'Wd Sdng' 'BrkFace' 'Plywood' 'MetalSd' 'AsbShng'
 'CemntBd' 'WdShing' 'Stucco' 'BrkComm' 'Stone' 'CBlock' 'ImStucc'
 'AsphShn']

Column: Exterior 2nd
Describe: count        2051
unique         15
top       VinylSd
freq          721
Name: Exterior 2nd, dtype: object
Unique Values: ['Plywood' 'VinylSd' 'Wd Sdng' 'HdBoard' 'MetalSd' 'AsbShng' 'CmentBd'
 'Wd Shng' 'BrkFace' 'Stucco' 'Brk Cmn' 'ImStucc' 'Stone' 'CBlock'
 'AsphShn']

Column: Mas Vnr Type
Describe: count     2029
unique       4
top       None
freq      1218
Name: Mas Vnr Type, dtype: object
Unique Values: ['BrkFace' 'None' nan 'Stone' 'BrkCmn']

Column: Mas Vnr Area
Describe: count    2029.000000
mean       99.695909
std       174.963129
min         0.000000
25%         0.000000
50%         0.000000
75%       161.000000
max      1600.000000
Name: Mas Vnr Area, dtype: float64
Unique Values: [2.890e+02 1.320e+02 0.000e+00 8.200e+01 1.800e+02 1.920e+02 2.320e+02
 4.560e+02 1.480e+02       nan 3.000e+00 3.360e+02 4.800e+02 3.200e+02
 1.040e+02 3.350e+02 4.000e+01 1.100e+02 1.060e+02 5.130e+02 1.840e+02
 5.220e+02 1.430e+02 3.480e+02 1.170e+02 5.100e+02 1.450e+02 9.600e+01
 6.680e+02 5.000e+01 2.280e+02 6.500e+01 3.610e+02 7.480e+02 1.970e+02
 5.720e+02 1.280e+02 1.200e+02 2.540e+02 8.600e+01 3.000e+01 5.400e+01
 2.460e+02 3.970e+02 2.960e+02 1.440e+02 9.020e+02 2.610e+02 2.600e+02
 2.750e+02 5.700e+01 1.050e+03 3.590e+02 1.080e+02 6.620e+02 5.000e+02
 2.100e+02 1.650e+02 2.080e+02 3.600e+02 1.600e+02 6.400e+01 2.240e+02
 2.060e+02 1.160e+02 6.510e+02 5.040e+02 2.520e+02 3.370e+02 8.400e+01
 3.090e+02 4.660e+02 6.000e+02 1.890e+02 3.680e+02 1.980e+02 1.400e+02
 9.220e+02 1.600e+01 1.800e+01 9.000e+01 4.250e+02 2.450e+02 2.340e+02
 7.660e+02 2.190e+02 1.820e+02 1.360e+02 5.760e+02 2.700e+02 1.500e+02
 2.560e+02 1.760e+02 4.790e+02 6.470e+02 1.150e+02 2.210e+02 2.720e+02
 7.140e+02 9.500e+01 1.700e+02 1.720e+02 2.000e+02 2.050e+02 1.620e+02
 2.400e+02 1.000e+02 4.120e+02 5.640e+02 7.400e+01 4.680e+02 2.980e+02
 1.490e+02 6.040e+02 1.050e+02 4.280e+02 3.320e+02 4.520e+02 1.640e+02
 6.600e+02 3.650e+02 1.115e+03 1.570e+02 5.250e+02 4.100e+01 3.240e+02
 2.160e+02 2.360e+02 1.740e+02 3.400e+02 2.740e+02 3.900e+01 2.220e+02
 5.200e+01 1.380e+02 5.710e+02 2.270e+02 2.300e+01 2.390e+02 4.220e+02
 9.400e+01 4.720e+02 6.400e+02 6.300e+02 3.760e+02 9.450e+02 5.620e+02
 1.110e+03 5.540e+02 2.030e+02 3.020e+02 7.200e+01 1.670e+02 1.780e+02
 2.680e+02 2.400e+01 1.250e+02 2.420e+02 5.680e+02 1.830e+02 4.200e+02
 1.350e+02 1.790e+02 1.690e+02 5.410e+02 9.700e+01 1.680e+02 2.800e+02
 5.800e+01 3.270e+02 2.120e+02 2.880e+02 8.500e+01 3.600e+01 2.830e+02
 6.000e+01 1.710e+02 5.600e+01 2.530e+02 2.020e+02 9.900e+01 1.130e+02
 3.500e+02 3.510e+02 5.100e+01 2.380e+02 2.300e+02 7.300e+02 6.320e+02
 3.830e+02 3.120e+02 1.400e+01 1.460e+02 2.640e+02 4.400e+01 1.340e+02
 3.040e+02 8.160e+02 1.860e+02 4.420e+02 2.550e+02 3.620e+02 1.120e+02
 6.800e+01 1.260e+02 1.420e+02 2.150e+02 2.350e+02 1.300e+02 4.200e+01
 2.200e+01 1.220e+02 2.330e+02 3.100e+02 1.000e+00 3.000e+02 5.180e+02
 3.380e+02 5.670e+02 9.700e+02 1.240e+02 8.000e+01 2.040e+02 1.960e+02
 6.030e+02 1.140e+02 8.860e+02 6.900e+01 4.920e+02 5.060e+02 3.660e+02
 2.590e+02 2.440e+02 1.990e+02 2.940e+02 2.840e+02 8.900e+01 2.760e+02
 2.900e+02 3.850e+02 2.990e+02 3.780e+02 2.580e+02 6.160e+02 9.200e+01
 9.800e+01 2.500e+02 3.910e+02 4.300e+02 1.900e+02 3.330e+02 1.770e+02
 7.960e+02 7.600e+01 4.000e+02 8.940e+02 6.700e+01 3.820e+02 6.200e+01
 4.430e+02 3.200e+01 2.480e+02 1.010e+02 4.730e+02 2.180e+02 2.260e+02
 4.500e+01 1.020e+02 2.140e+02 1.090e+02 3.640e+02 8.700e+01 7.050e+02
 2.370e+02 3.530e+02 1.129e+03 1.031e+03 3.050e+02 2.000e+01 8.800e+01
 4.060e+02 2.950e+02 1.230e+02 1.940e+02 3.560e+02 1.095e+03 1.540e+02
 6.740e+02 2.910e+02 1.660e+02 3.800e+02 5.730e+02 1.630e+02 2.430e+02
 4.510e+02 1.270e+02 5.190e+02 2.200e+02 5.020e+02 2.570e+02 1.610e+02
 3.280e+02 4.910e+02 5.790e+02 4.240e+02 3.870e+02 1.600e+03 4.180e+02
 1.047e+03 6.520e+02 4.600e+01 3.220e+02 3.100e+01 2.510e+02 3.550e+02
 1.880e+02 3.060e+02 3.790e+02 5.280e+02 2.780e+02 5.260e+02 2.700e+01
 6.730e+02 4.020e+02 2.800e+01 2.790e+02 7.340e+02 4.500e+02 6.500e+02
 3.800e+01 3.700e+02 7.500e+01 3.150e+02 4.100e+02 4.340e+02 6.300e+01
 7.240e+02 4.700e+01 7.600e+02 3.440e+02 1.580e+02 7.380e+02 8.600e+02
 6.920e+02 4.320e+02 1.190e+02 3.750e+02 5.140e+02 2.920e+02 3.180e+02
 1.180e+02 3.810e+02 7.720e+02 7.000e+01 3.940e+02 1.224e+03 5.300e+02
 1.530e+02 3.720e+02 6.600e+01 1.560e+02 4.700e+02 2.810e+02 3.230e+02
 2.620e+02 2.250e+02 7.100e+02 4.230e+02 7.310e+02 4.360e+02 3.420e+02
 1.210e+02 6.640e+02 4.260e+02]

Column: Exter Qual
Describe: count     2051
unique       4
top         TA
freq      1247
Name: Exter Qual, dtype: object
Unique Values: ['Gd' 'TA' 'Ex' 'Fa']

Column: Exter Cond
Describe: count     2051
unique       5
top         TA
freq      1778
Name: Exter Cond, dtype: object
Unique Values: ['TA' 'Gd' 'Fa' 'Ex' 'Po']

Column: Foundation
Describe: count      2051
unique        6
top       PConc
freq        926
Name: Foundation, dtype: object
Unique Values: ['CBlock' 'PConc' 'BrkTil' 'Slab' 'Stone' 'Wood']

Column: Bsmt Qual
Describe: count     1996
unique       5
top         TA
freq       887
Name: Bsmt Qual, dtype: object
Unique Values: ['TA' 'Gd' 'Fa' nan 'Ex' 'Po']

Column: Bsmt Cond
Describe: count     1996
unique       5
top         TA
freq      1834
Name: Bsmt Cond, dtype: object
Unique Values: ['TA' 'Gd' nan 'Fa' 'Po' 'Ex']

Column: Bsmt Exposure
Describe: count     1993
unique       4
top         No
freq      1339
Name: Bsmt Exposure, dtype: object
Unique Values: ['No' 'Gd' 'Av' nan 'Mn']

Column: BsmtFin Type 1
Describe: count     1996
unique       6
top        GLQ
freq       615
Name: BsmtFin Type 1, dtype: object
Unique Values: ['GLQ' 'Unf' 'ALQ' 'Rec' nan 'BLQ' 'LwQ']

Column: BsmtFin SF 1
Describe: count    2050.000000
mean      442.300488
std       461.204124
min         0.000000
25%         0.000000
50%       368.000000
75%       733.750000
max      5644.000000
Name: BsmtFin SF 1, dtype: float64
Unique Values: [5.330e+02 6.370e+02 7.310e+02 0.000e+00 2.470e+02 5.470e+02 1.000e+03
 2.920e+02 6.500e+02 3.870e+02 3.930e+02 8.130e+02 2.400e+01 6.510e+02
 4.920e+02 1.158e+03 9.350e+02 1.056e+03 1.312e+03 5.530e+02 6.060e+02
 1.104e+03 4.370e+02 4.410e+02 1.288e+03 5.480e+02 7.050e+02 9.160e+02
 4.200e+02 8.300e+02 1.386e+03 1.097e+03 9.060e+02 2.100e+02 4.080e+02
 3.540e+02 3.530e+02 6.220e+02 7.900e+02 1.760e+02 3.710e+02 3.680e+02
 4.860e+02 8.500e+01 1.380e+02 5.240e+02 6.400e+01 1.092e+03 3.600e+02
 1.720e+02 2.060e+02 2.460e+02 1.600e+01 1.346e+03 7.000e+02 6.550e+02
 4.430e+02 1.680e+02 1.904e+03 2.400e+02 8.640e+02 4.150e+02 8.330e+02
 3.770e+02 2.800e+02 8.280e+02 7.620e+02 3.600e+01 1.014e+03 6.000e+01
 5.880e+02 4.380e+02 1.153e+03 5.270e+02 1.337e+03 3.480e+02 1.044e+03
 6.900e+02 9.620e+02 6.410e+02 1.110e+03 4.210e+02 8.320e+02 1.027e+03
 9.880e+02 8.210e+02 2.900e+02 4.350e+02 8.270e+02 3.120e+02 4.100e+02
 2.570e+02 3.780e+02 3.890e+02 1.619e+03 4.680e+02 4.580e+02 1.200e+02
 7.320e+02 6.590e+02 9.540e+02 1.032e+03 4.250e+02 8.410e+02 6.440e+02
 1.890e+02 6.850e+02 1.110e+02 9.180e+02 6.740e+02 7.890e+02 6.080e+02
 5.730e+02 7.080e+02 1.290e+02 3.110e+02 1.040e+02 3.860e+02 7.040e+02
 4.570e+02 1.700e+02 1.173e+03 1.560e+02 6.000e+02 7.880e+02 5.500e+02
 9.290e+02 4.450e+02 1.218e+03 5.100e+01 1.567e+03 5.000e+02 1.122e+03
 5.600e+01 5.030e+02 7.650e+02 3.640e+02 2.760e+02 1.128e+03 4.200e+01
 5.780e+02 6.340e+02 1.070e+03 9.310e+02 1.024e+03 9.150e+02 4.290e+02
 8.360e+02 8.830e+02 3.750e+02 1.540e+03 7.830e+02 2.160e+02 2.150e+02
 4.480e+02 7.870e+02 5.260e+02 4.000e+01 2.000e+01 9.020e+02 9.600e+02
 7.760e+02 4.950e+02 8.240e+02 2.880e+02 1.059e+03 1.358e+03 9.960e+02
 5.440e+02 4.400e+02 3.000e+02 7.850e+02 7.670e+02 4.300e+02 7.730e+02
 5.130e+02 7.380e+02 2.070e+02 3.980e+02 6.780e+02 4.750e+02 8.100e+01
 6.450e+02 1.204e+03 5.140e+02 2.990e+02 1.758e+03 5.500e+01 1.309e+03
 1.490e+02 6.620e+02 1.003e+03 4.620e+02 5.600e+02 3.300e+02 2.750e+02
 9.230e+02 3.190e+02 1.036e+03 1.538e+03 4.160e+02 8.120e+02 4.560e+02
 2.050e+02 2.280e+02 5.160e+02 7.580e+02 3.050e+02 1.231e+03 1.082e+03
 7.720e+02 1.159e+03 7.450e+02 3.690e+02 3.580e+02 6.480e+02 2.640e+02
 4.800e+01 1.696e+03 3.730e+02 1.820e+02 1.220e+03 5.070e+02 7.340e+02
 3.840e+02 9.390e+02 1.810e+02 6.240e+02 7.480e+02 1.880e+03 6.250e+02
 5.700e+02 5.390e+02 3.380e+02 4.220e+02 6.970e+02 1.086e+03 5.510e+02
 6.830e+02 7.510e+02 4.030e+02 1.234e+03 3.010e+02 4.500e+02 4.760e+02
 9.410e+02 5.690e+02 9.010e+02 3.900e+02 5.280e+02 9.130e+02 7.330e+02
 2.390e+02 8.040e+02 7.800e+02 1.387e+03 1.047e+03 5.340e+02 6.260e+02
 9.530e+02 7.960e+02 1.930e+02 7.440e+02 6.660e+02 7.810e+02 2.440e+02
 7.280e+02 1.180e+03 9.300e+02 1.000e+02 1.102e+03 9.600e+01 6.720e+02
 8.140e+02 7.740e+02 7.660e+02 3.400e+02 2.300e+02 1.274e+03 4.710e+02
 8.000e+01 1.558e+03 6.020e+02 5.680e+02 1.246e+03 4.740e+02 1.075e+03
 9.200e+02 1.314e+03 7.600e+02 4.000e+02 1.084e+03 1.013e+03 4.960e+02
 1.330e+03 4.240e+02 1.087e+03 3.170e+02 1.002e+03 7.500e+02 5.220e+02
 1.280e+02 7.550e+02 5.570e+02 1.505e+03 6.200e+02 1.338e+03 1.005e+03
 8.380e+02 1.332e+03 3.080e+02 6.840e+02 1.004e+03 3.510e+02 6.030e+02
 4.420e+02 7.690e+02 8.560e+02 8.310e+02 2.660e+02 3.280e+02 2.000e+00
 1.001e+03 5.870e+02 7.910e+02 5.380e+02 1.196e+03 8.760e+02 8.970e+02
 5.100e+02 7.180e+02 8.950e+02 1.106e+03 6.860e+02 5.940e+02 1.078e+03
 4.320e+02 1.238e+03 1.190e+02 8.720e+02 3.360e+02 6.120e+02 9.030e+02
 6.540e+02 1.085e+03 8.100e+02 2.960e+02 9.670e+02 8.600e+02 7.860e+02
 1.531e+03 1.249e+03 1.172e+03 2.146e+03 2.700e+01 2.030e+02 2.220e+02
 5.370e+02 1.206e+03 1.040e+03 8.160e+02 1.121e+03 2.840e+02 3.410e+02
 4.530e+02 9.860e+02 1.071e+03 3.650e+02 8.940e+02 1.148e+03 1.194e+03
 8.420e+02 1.456e+03 7.100e+02 7.160e+02 1.277e+03 3.500e+02 7.400e+02
 1.636e+03 2.850e+02 2.158e+03 9.690e+02 4.850e+02 2.740e+02 1.219e+03
 8.800e+01 1.053e+03 6.310e+02 2.230e+02 3.800e+02 1.398e+03 9.910e+02
 5.210e+02 3.200e+01 9.050e+02 1.039e+03 1.369e+03 1.098e+03 7.420e+02
 2.520e+02 5.790e+02 1.136e+03 1.198e+03 1.223e+03 9.040e+02 1.034e+03
 1.100e+02 6.110e+02 1.023e+03 2.980e+02 4.980e+02 2.800e+01 2.340e+02
 3.610e+02 3.740e+02 1.513e+03 3.140e+02 3.700e+02 1.632e+03 3.430e+02
 1.200e+03 3.790e+02 1.440e+02 1.684e+03 7.220e+02 5.200e+02 7.800e+01
 5.050e+02 1.018e+03 4.100e+01 5.360e+02 1.130e+02 1.412e+03 7.470e+02
 4.810e+02 3.150e+02 1.416e+03 1.572e+03 7.410e+02 1.037e+03 1.329e+03
 2.260e+02 3.720e+02 1.474e+03 6.170e+02 5.060e+02 1.188e+03 9.760e+02
 2.010e+02 7.130e+02 6.790e+02 5.460e+02 2.560e+02 1.400e+03 8.030e+02
 1.406e+03 1.319e+03 1.140e+02 8.670e+02 1.440e+03 6.380e+02 5.400e+01
 3.100e+02 1.290e+03 6.040e+02 3.920e+02 4.900e+02 1.300e+02 5.000e+01
 7.840e+02 1.261e+03 4.640e+02 1.620e+02 5.650e+02 1.478e+03 1.088e+03
 1.340e+02 7.170e+02 5.860e+02 5.040e+02 1.152e+03 3.420e+02 3.810e+02
 1.232e+03 7.790e+02 1.433e+03 1.441e+03 7.190e+02 2.590e+02 6.680e+02
 5.644e+03 6.190e+02 9.140e+02 2.940e+02 9.780e+02 3.850e+02 9.640e+02
 4.880e+02 4.930e+02 3.180e+02 1.682e+03 3.500e+01 1.430e+03 9.560e+02
 1.328e+03 6.640e+02 1.455e+03 5.090e+02 4.050e+02 1.259e+03 4.820e+02
 5.430e+02 2.810e+02 1.201e+03 1.390e+03 9.520e+02 5.120e+02 9.360e+02
 1.243e+03 2.730e+02 1.470e+03 1.960e+02 3.290e+02 6.430e+02 1.800e+02
 9.440e+02 7.750e+02 1.573e+03 5.490e+02 2.410e+02 6.300e+02 1.116e+03
 4.280e+02 9.380e+02 1.728e+03 1.021e+03 6.990e+02 5.740e+02 2.830e+02
 8.510e+02 1.330e+02 4.230e+02 5.200e+01 6.390e+02 1.280e+03 6.070e+02
 1.375e+03 1.285e+03 1.670e+02 6.160e+02 2.090e+02 7.120e+02 8.070e+02
 2.420e+02 2.480e+02 1.282e+03 6.320e+02 9.830e+02 4.830e+02 6.810e+02
 6.630e+02 8.370e+02 3.940e+02 9.550e+02 9.450e+02 4.170e+02 1.733e+03
 1.260e+02 1.124e+03 4.190e+02 2.085e+03 1.392e+03 6.460e+02 1.767e+03
 6.600e+02 2.610e+02 3.060e+02 1.210e+02 5.700e+01 1.320e+02 9.250e+02
 1.115e+03 2.000e+02 2.500e+02 9.800e+02 8.740e+02 4.770e+02 1.300e+03
 9.870e+02 1.860e+02 2.210e+02 7.780e+02 7.270e+02 1.038e+03 1.373e+03
 9.260e+02 4.970e+02 8.460e+02 1.165e+03 1.410e+02 5.320e+02 1.571e+03
 6.230e+02 6.890e+02 9.320e+02 7.250e+02 1.247e+03 6.610e+02 2.820e+02
 7.390e+02 7.360e+02 6.730e+02 3.210e+02 7.700e+02 1.410e+03 2.190e+02
 3.260e+02 5.560e+02 1.341e+03       nan 1.030e+03 8.470e+02 1.980e+02
 1.270e+03 2.080e+02 6.690e+02 5.760e+02 1.900e+02 5.670e+02 4.670e+02
 1.051e+03 1.052e+03 3.630e+02 4.600e+02 1.333e+03 1.048e+03 7.060e+02
 5.520e+02 5.750e+02 8.960e+02 5.990e+02 9.840e+02 6.910e+02 6.560e+02
 5.310e+02 6.490e+02 9.980e+02 1.262e+03 8.700e+02 1.518e+03 4.340e+02
 3.820e+02 5.230e+02 5.660e+02 2.360e+02 3.490e+02 6.960e+02 7.200e+02
 5.540e+02 7.970e+02 8.190e+02 1.593e+03 2.790e+02 9.400e+01 7.350e+02

#### <font color = yellow> Checking a specific row </font>

In [12]:
#peeking into what 1342 has
df_train.loc[df_train['Id'] == 1342]

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
1327,1342,903230120,20,RM,99.0,5940,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,4,2008,ConLD,79000

<a name="null"></a>
### <font color = yellow> Null Values </font>

In [17]:
# this tells us how many nulls there are
print('Total number of nulls in train df: ' + str((df_train.isnull().sum()).sum()))

Total number of nulls in train df: 9822

In [14]:
# this will tall us which columns have null values
df_train.columns[df_train.isna().any()].tolist()

['Lot Frontage',
 'Alley',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin SF 1',
 'BsmtFin Type 2',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Cars',
 'Garage Area',
 'Garage Qual',
 'Garage Cond',
 'Pool QC',
 'Fence',
 'Misc Feature']

<a name="moddf"></a>
## <font color = yellow> Modifying the dataframe </font>

#### <font color = yellow> Adding and Removing Elements in Dataframe </font>

In [15]:
# adding a new empty column
# if you have the values, have the New Column equal to the new values
df_train['New_Column'] = ""

In [16]:
# removing a column in a dataframe
# axis = 1 is for columns, axis = 0 is for indexes
df_train.drop('New_Column', axis = 1, inplace = True)

#### <font color = yellow> Renaming Columns </font>

In [23]:
#adding a new column to be renamed
df_train['Old_Column'] = ""
df_train['Old_Column_2'] = ""

#this will rename the 2 columns
df_train.rename(columns={'Old_Column':'New_Column', 'Old_Column_2':'New_Column_2'}, inplace = True)

#removing the sample columns
df_train.drop({'New_Column','New_Column_2'}, axis = 1 , inplace = True)

#### <font color= yellow> Merging Dataframe </font>

In [18]:
# this will combine the two dataframes into a single dataframe

#df_combined = pd.concat([SAT_2017,ACT_2017], axis =1)

<a name="calculus"></a>
## <font color = yellow> Calculus </font>

#### <font color = yellow> Standard Deviation </font>

<img src="images/StandDev.png">

In [27]:
#standard deviation code

def stand_dev(data):
    
    # n is the number of values in the column
    n = len(data)
    # mean is the total sum of values in the column divided by n
    mean = (data.sum(axis = 0)) / n
    
    # x is used as a placeholder value to store the sum of ( (current value - mean)**2 / n )
    x = 0
    
    # the value i will loop through all the values in the inputted column and generate a value for dev. The dev value will be added to x which will store the value while the loop repeats with a different i value.
    for i in data:
        dev = (((i - mean)**2)/n)
        x += dev
    
    # the final value of x needs to be squared to get our standard deviation
    return x**0.5

In [28]:
#Below we will see what is the stand dev for all the columns
sd = {col :stand_dev(df_train[col]) for col in df_train.iloc[: , 1 : :].columns}

sd

TypeError: unsupported operand type(s) for /: 'str' and 'int'